.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.logo img {
    width: 60px;
}

.search {
    display: flex;
    align-items: center;

    background: #ddd;
    border-radius: 20px;
    padding: 4px 10px;

    flex: 1; 
}

.search .icon {
    width: 16px;
    height: 16px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.menu img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu img:hover {
    opacity: 0.7;
}

@media (min-width: 768px) {

    .navbar {
        padding: 10px 40px;
        justify-content: flex-start;
    }

    .logo img {
        width: 80px;
    }

    .search {
        max-width: 600px;
        padding: 10px 20px;
        margin: 0 auto;
    }

    .search input {
        font-size: 16px;
    }

    .search .icon {
        width: 20px;
        height: 20px;
    }

    .menu img {
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .search input {
        display: none;
    }
}